.table img {
    width: 216px;
    height: 81px;
    border-radius: 20px;
    margin: 10px;
}
th,
td {
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
}
.edit {
    margin-bottom: 36px;
}

input[type="file"] {
    border: none;
}
input[type="file"]::file-selector-button {
    border: 1px solid #ffbebb;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
input[type="file"]::file-selector-button:hover {
    background: #ff534b;
    color: #fff;
}
select,
#ev_title {
    width: 425px;
}
td {
    vertical-align: middle;
}
table tbody tr .event_btn {
    text-align: center;
    padding: 20px;
}
.event_btn > div {
    width: 100px;
    display: inline;
}
.event_btn button {
    display: block;
}
.modify {
    margin-bottom: 7px;
}
.pagination {
    margin-top: 30px;
}
